html {
  box-sizing: border-box;
  font-family: Georgia;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
    border: 2px solid #785439;
    text-decoration: none;
}

h1 {
  font-family: 'Dosis', sans-serif;
}
