html {
  box-sizing: border-box;
  font-family: Georgia;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  border: 3px solid #9a816d;
  border-radius: 3px;
  padding: 1rem;
  background-color: #dcd4cd;
  color: #512200;
  text-decoration: none;
  display: block;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card h2 {
  margin: 0 0 1rem;
  font-family: Dosis, sans-serif;
  font-weight: bold;
}

a dl {
  font-size: .875rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
}

a dl > dt {
  display: inline-block;
  width: 45%;
}

a dl > dd {
  display: inline-block;
  font-style: italic;
  width: 45%;
  margin: 0;
}

a .btn {
  display: inline-block;
  font-size: 1.125rem;
  padding: .4em .75em .5em;
  border-radius: 8px;
  background-color: #785439;
  color: #fff;
  margin: 0;
}

a .btn:hover {
  background-color: #f0eee8;
}

a div {
  text-align: center;
}
